<!--h2>選擇型態</h2-->

<section>
    <h3>契約類型</h3>
    <select [(ngModel)]="category" (change)="check()"
        size="8" style="overflow: hidden">
        <!--option disabled>請選擇</option-->
        <optgroup label="非出版性委託">
            <option>設定圖</option>
            <option>單張圖</option>
        </optgroup>
        <optgroup label="出版性委託">
            <option>插圖</option>
            <option>多人合本</option>
        </optgroup>
        <optgroup label="請求授權二創">
            <option>單次授權</option>
        </optgroup>
    </select>
</section>

<section *ngIf="category=='插圖' || category=='多人合本'">
    <h3>是否有商家出資？</h3>
    <select [(ngModel)]="contributor" (change)="check()"
        size="2" style="overflow: hidden">
        <option>是</option>
        <option>否</option>
    </select>
</section>

<section *ngIf="showWorkType">
    <h3>工作方式</h3>
    <select [(ngModel)]="workType" (change)="check()"
        size="4" style="overflow: hidden">
        <option>先收全額</option>
        <option>尾款草稿</option>
        <option>尾款定稿</option>
        <option>完稿全額</option>
    </select>
</section>

<!--section *ngIf="showCopyrightOwner">
    <h3>著作權歸屬</h3>
    <select [(ngModel)]="copyrightOwner" (change)="check()"
        size="2" style="overflow: hidden">
        <option>全部給委託主</option>
        <option>全部給繪師</option>
    </select>
</section-->

<div *ngIf="showGoToCommision">
    <button>選好了，前往「填寫雙方資料及委託規格」</button>（還沒做）
</div>

<section *ngIf="category=='單次授權'">
    <p>
        若繪師想要對不特定人概括授權，建議直接參考
        <a target="_blank" href="https://creativecommons.org/licenses/by-nc/3.0/tw/">CC「姓名標示、非商業性」（CC BY-NC 3.0 TW）條款</a>
    </p>
    <button disabled>選好了，前往「填寫雙方資料及授權內容」</button>（還沒做）
</section>
