<ng-container *ngFor="let option of options">
    <div class="option" *ngIf="!settings[attribute].decided || settings[attribute].value==option.value">
        <button class="btn"
            [class.btn-default]="settings[attribute].value!=option.value"
            [class.btn-success]="settings[attribute].value==option.value"
            (click)="settings.set(attribute, option.value)"
        >{{option.text || option.value}}</button>
        <div *ngIf="option.explanation" class="explanation">
            <p *ngFor="let paragraph of option.explanation">{{paragraph}}</p>
        </div>
    </div>
</ng-container>
<div *ngIf="addResetButton" style="margin-top: .5em">
    <button class="btn btn-primary btn-sm"
        *ngIf="settings[attribute].decided"
        (click)="settings.unset(attribute)"
    >重新選擇</button>
</div>
