<ng-container *ngFor="let option of options">
    <div class="option" *ngIf="!settings[attribute].decided || settings[attribute].value==option.value">
        <button class="btn"
            [ngClass]="(settings[attribute].value==option.value) ? 'btn-success' : 'btn-outline-success'"
            (click)="settings.set(attribute, option.value)"
        >{{option.text || option.value}}</button>
        <div *ngIf="option.explanation" class="explanation">
            <p *ngFor="let paragraph of option.explanation">{{paragraph}}</p>
        </div>
    </div>
</ng-container>
<div *ngIf="addResetButton" style="margin-bottom: .5em">
    <button class="btn btn-primary btn-sm"
        *ngIf="settings[attribute].decided"
        (click)="settings.unset(attribute)"
    >重新選擇</button>
</div>
