article, #personalData, #attachments > section {
    page-break-inside: avoid;
    clear: both;
}

#contract h2 {
    text-align: center;
}

article p, #attachments p {
    white-space: pre-line;
}

article mark {
    font-weight: bold;
}

.underline {
    /*text-decoration: underline;*/
    border-bottom: 1px solid #000;
    display: inline-block;
}
