article, #personalData, #attachments > section {
    page-break-inside: avoid;
    clear: both;
}

#attachments > section {
    border-top: 2px dotted #888;
}

#contract h2 {
    text-align: center;
}

article p, #attachments p {
    white-space: pre-line;
}

article mark {
    font-weight: bold;
}

.underline {
    /*text-decoration: underline;*/
    border-bottom: 1px solid #000;
    display: inline-block;
}

@media (min-width: 992px) {
    #settings {
        width: 50%;
        padding: 0 0.5em;
    }
    #contractContainer {
        position: fixed;
        height: 100vh;
        overflow-y: scroll;
        width: 50%;
        top: 0;
        right: 0;
        background: #fff;
        padding: 0 .5em;
        border-left: 2px dotted #ccc;
    }
}
