<fieldset id="debug" class="d-print-none">
    <legend onclick="this.parentNode.style.display='none';" title="Click to close.">Debug</legend>
    <div>{{display | json}}</div>
    <div>{{settings | json}}</div>
</fieldset>

<section id="settings" [ngClass]="display.contract?'col-md-6':'container'" class="d-print-none">
    <header>
        <div class="row">
            <h2 class="col-md-4">自訂契約</h2>

            <div class="col-md-8">
                <div style="margin-top: .5em">
                    <button class="btn btn-sm btn-info" (click)="load(demoData)">套用測試資料</button>
                    <button class="btn btn-sm btn-info" (click)="load(false)">清空目前設定</button>
                </div>
                <div style="margin-top: .5em">
                    <button class="btn btn-sm btn-info" (click)="downloadSettings()">下載現在的設定</button>

                    <button class="btn btn-sm btn-info" (click)="fileSelect()">上傳設定檔</button>
                    <input type="file" id="fileElem" accept=".json" (change)="handleFile()" style="display: none">

                    <button class="btn btn-sm btn-info" (click)="display.paste=true">貼上之前下載的設定</button>
                </div>
            </div>
        </div>
                    <fieldset *ngIf="display.paste">
                        <legend>
                            貼上之前下載的設定
                            <small class="text-muted">（格式須為 <abbr title="JavaScript Object Notation">JSON</abbr>）</small>
                        </legend>
                        <textarea [(ngModel)]="userSettings" style="height: 10em"></textarea>
                        <div>
                            <button class="btn btn-primary" (click)="loadUserSettings()">讀取</button>
                            <button class="btn btn-warning" (click)="display.paste=false">關閉</button>
                        </div>
                        <div *ngIf="loadError">{{loadError}}</div>
                    </fieldset>

        <ul id="breadcrumb">
            <li><span onclick="location.reload()">自訂契約</span></li>
            <li *ngIf="settings.category.decided"><span (click)="settings.unset('category')">{{settings.category.value}}</span></li>
            <li *ngIf="settings.contributor.decided"><span (click)="settings.unset('contributor')">{{settings.contributor.value=="是"?"有":"無"}}商家出資</span></li>
            <li *ngIf="settings.workType.decided"><span (click)="settings.unset('workType')">{{settings.workType.value}}</span></li>
            <li *ngIf="settings.copyrightBelonging.decided"><span (click)="settings.unset('copyrightBelonging')">著作財產權{{settings.copyrightBelonging.value.substr(2)}}</span></li>
            <li *ngIf="settings.a_useRange.decided"><span (click)="settings.unset('a_useRange')">繪師{{settings.a_useRange.value}}</span></li>
        </ul>
    </header>

    <section *ngIf="display.category">
        <h3 (click)="settings.unset('category')">契約類型</h3>
        <div class="row">
        <fieldset class="col-sm-4">
            <legend><h4>非出版性委託</h4></legend>
            <app-select [attribute]="'category'" [settings]="settings"
                [options]="optionGroups.nonPublishDelegation"
            ></app-select>
        </fieldset>
        <fieldset class="col-sm-4">
            <legend><h4>出版性委託</h4></legend>
            <app-select [attribute]="'category'" [settings]="settings"
                [options]="optionGroups.publishDelegation"
            ></app-select>
        </fieldset>
        </div>
    </section>

    <section *ngIf="display.contributor">
        <h3 (click)="settings.unset('contributor')">是否有商家出資？</h3>
        <app-select [attribute]="'contributor'" [settings]="settings"
            [options]="optionGroups.contributor"
        ></app-select>
    </section>

    <app-delegation
        *ngIf="check('isAnthology', false)"
        [settings]="settings"
        [optionGroups]="optionGroups"
        [display]="display"
        [modal]="modal"
    ></app-delegation>

    <app-anthology-with-contributor
        *ngIf="display.anthologyWithContributor"
        [settings]="settings"
        [optionGroups]="optionGroups"
        [display]="display"
        [modal]="modal"
    ></app-anthology-with-contributor>

    <app-anthology-without-contributor
        *ngIf="display.anthologyWithoutContributor"
        [settings]="settings"
        [optionGroups]="optionGroups"
        [display]="display"
        [parties]="parties"
        [modal]="modal"
    ></app-anthology-without-contributor>
</section>

<section *ngIf="display.contract" id="contractContainer">
    <header class="d-print-none">
        <h2>
            契約內文
            <small>共{{getArticleCount()}}條</small>
        </h2>
        <div *ngIf="invalidation" class="alert alert-danger" role="alert">
            <h3>須修正的錯誤</h3>
            <p style="white-space: pre-line">{{invalidation}}</p>
        </div>
        <div>
            <button class="btn btn-info" onclick="window.print()">列印</button>
            <button class="btn btn-info" (click)="downloadText()">下載純文字</button>
            <button class="btn btn-info" (click)="downloadHTML()">下載網頁</button>
            <button class="btn btn-info" (click)="downloadSettings()">下載設定檔</button>
            <p class="alert alert-light small">
                如果瀏覽器支援，也許可以「印成 PDF 檔」。
                <br>
                因為技術問題， iOS 系統上不會「下載」而是會另開新頁。
            </p>
        </div>
    </header>

    <section id="contract">
        <header *ngIf="!check('category', '合本') || withContributor()">
            <h2>出資聘人完成著作契約</h2>
            <dl>
                <dt>立約人：</dt>
                <dd>甲方：{{settings.a_name.value}}</dd>
                <dd>乙方：{{settings.b_name.value}}</dd>
            </dl>
            <p>緣乙方企畫並出資製作之{{settings.delegation_name.value}}（下稱乙方產品），其部分工作委由甲方承攬製作。甲乙雙方依誠信原則訂立本契約，條款如下：</p>
        </header>
        <header *ngIf="check('category', '合本') && !withContributor()">
            <h2>多方合作約定共有著作權契約</h2>

            立約人：
            <dl class="row">
                <ng-container *ngFor="let party of parties.slice(0, settings.club_population.value)">
                    <dt class="col-sm-2">{{party.alias}}方</dt>
                    <dd class="col-sm-10">{{party.name}}</dd>
                </ng-container>
            </dl>

            <p>緣簽約各方（下稱各方）同意合作創作/製作{{settings.delegation_name.value}}著作（下稱本著作），各方為此達成協議並約定條款如下：</p>
        </header>

        <section *ngFor="let articleGroup of articleGroups">
            <h3>{{articleGroup.title}}</h3>
            <article *ngFor="let article of articleGroup.articles">
                <h4>
                    {{article.number}}
                    <small *ngIf="article.title">（{{article.title}}）</small>
                </h4>
                <p [innerHTML]="article.output"></p>
            </article>
        </section>

        <section id="personalData">
            <h3>簽約人</h3>

            <ng-container *ngIf="!check('category', '合本') || withContributor()">
                <section>
                    <h4>甲方：{{settings.a_name.value}}</h4>
                    <dl class="row">
                        <dt class="col-sm-2">戶籍地址：</dt><dd class="col-sm-10">{{settings.a_permanentAddress.value}}</dd>
                        <dt class="col-sm-2">身分證號：</dt><dd class="col-sm-10">{{settings.a_id.value}}</dd>
                        <dt class="col-sm-2">電子郵件：</dt><dd class="col-sm-10">{{settings.a_email.value}}</dd>
                        <dt class="col-sm-2">通訊地址：</dt><dd class="col-sm-10">{{settings.a_correspondenceAddress.value}}</dd>
                        <dt class="col-sm-2">連絡電話：</dt><dd class="col-sm-10">{{settings.a_phone.value}}</dd>
                    </dl>
                </section>

                <section>
                    <h4>乙方：{{settings.b_name.value}}</h4>
                    <dl class="row" *ngIf="withContributor()">
                        <dt class="col-sm-2">登記地址：</dt><dd class="col-sm-10">{{settings.b_permanentAddress.value}}</dd>
                        <dt class="col-sm-2">統一編號：</dt><dd class="col-sm-10">{{settings.b_id.value}}</dd>
                        <dt class="col-sm-2">代表人：</dt><dd class="col-sm-10">{{settings.b_chairperson.value}}</dd>
                        <dt class="col-sm-2">通訊地址：</dt><dd class="col-sm-10">{{settings.b_correspondenceAddress.value}}</dd>
                        <dt class="col-sm-2">連絡電話：</dt><dd class="col-sm-10">{{settings.b_phone.value}}</dd>
                    </dl>
                    <dl class="row" *ngIf="!withContributor()">
                        <dt class="col-sm-2">戶籍地址：</dt><dd class="col-sm-10">{{settings.b_permanentAddress.value}}</dd>
                        <dt class="col-sm-2">身分證號：</dt><dd class="col-sm-10">{{settings.b_id.value}}</dd>
                        <dt class="col-sm-2">電子郵件：</dt><dd class="col-sm-10">{{settings.b_email.value}}</dd>
                        <dt class="col-sm-2">通訊地址：</dt><dd class="col-sm-10">{{settings.b_correspondenceAddress.value}}</dd>
                        <dt class="col-sm-2">連絡電話：</dt><dd class="col-sm-10">{{settings.b_phone.value}}</dd>
                    </dl>
                </section>
            </ng-container>

            <ng-container *ngIf="check('category', '合本') && !withContributor()">
                <section *ngFor="let party of parties.slice(0, settings.club_population.value); first as isFirst">
                    <h4>
                        {{party.alias}}方：{{party.name}}
                        <small *ngIf="isFirst">（代表人）</small>
                    </h4>
                    <dl class="row">
                        <dt class="col-sm-2">戶籍地址</dt><dd class="col-sm-10">{{party.permanantAddress}}</dd>
                        <dt class="col-sm-2">連絡電話</dt><dd class="col-sm-10">{{party.telephone}}</dd>
                        <dt class="col-sm-2">手機號碼</dt><dd class="col-sm-10">{{party.cellphone}}</dd>
                        <dt class="col-sm-2">電子郵件</dt><dd class="col-sm-10">{{party.email}}</dd>
                        <dt class="col-sm-2">通訊地址</dt><dd class="col-sm-10">{{party.correspondenceAddress}}</dd>
                    </dl>
                </section>
            </ng-container>

            <footer>
                簽約日期：
                <span class="underline" style="width: 3em">&nbsp;</span>年
                <span class="underline" style="width: 2em">&nbsp;</span>月
                <span class="underline" style="width: 2em">&nbsp;</span>日
            </footer>
        </section>

        <section id="attachments">
            <ng-container *ngIf="check('isAnthology', false)">
                <section>
                    <h2>【附件一】{{settings.delegation_name.value}}工作成果規格書</h2>

                    <h3>一、甲方應完成之工作內容：</h3>
                    <p>{{settings.delegation_content.value}}</p>

                    <h3>二、甲方應交付之工作成果規格與交付方式：</h3>
                    <p>{{settings.delegation_format.value}}</p>

                    <h3>三、乙方得提出之重大修訂類別：</h3>
                    <p>{{settings.seriousityDefinition.value}}</p>
                </section>
            </ng-container>

            <ng-container *ngIf="check('category', '合本') && withContributor()">
                <section>
                    <h2>【附件一】{{settings.delegation_name.value}}工作成果規格書</h2>

                    <h3>一、甲方應完成之工作內容：</h3>
                    <p>{{settings.delegation_content.value}}</p>

                    <h3>二、甲方應交付之工作成果規格與交付方式：</h3>
                    <p>{{settings.delegation_format.value}}</p>
                </section>
                <section>
                    <h2>【附件二】利用約定細項</h2>
                    <h3>繪師非商業公開發表的限制</h3>
                    <p>{{settings.a_useLimit.value}}</p>

                    <h3>分紅機制</h3>
                    <dl class="row">
                        <dt class="col-sm-3">計算方式</dt>
                        <dd class="col-sm-9">{{settings.dividend_calculation.value}}</dd>

                        <dt class="col-sm-3">分紅時間</dt>
                        <dd class="col-sm-9">
                            {{settings.dividend_time.value}}起
                            {{settings.dividend_period.value}}
                        </dd>

                        <dt class="col-sm-3">款項支付方式</dt>
                        <dd class="col-sm-9">
                            {{settings.dividend_method.value}}
                            <div *ngIf="settings.dividend_method.value=='支票'">
                                支票到期期間：{{settings.checkExpirationPeriod.value}}日
                            </div>
                        </dd>
                    </dl>
                </section>
            </ng-container>

            <ng-container *ngIf="check('category', '合本') && !withContributor()">
                <section>
                    <h2>【附件一】工作分配表</h2>
                    <p [innerHTML]="settings.divisionOfLabour.value"></p>
                </section>

                <section>
                    <h2>【附件二】著作財產權持有比例</h2>
                    <p [innerHTML]="settings.proportion2share.value"></p>
                </section>

                <section>
                    <h2>【附件三】代表人及利用約定細項</h2>

                    <section>
                        <h3>首次發行時</h3>
                        <p [innerHTML]="settings.firstPubliclyReleasedDetail.value"></p>
                    </section>

                    <section>
                        <h3>代表人於公開發表（宣傳）時</h3>
                        <p [innerHTML]="settings.publishAffairs.value"></p>
                    </section>

                    <section>
                        <h3>收益結算</h3>
                        <dl class="row">
                            <dt class="col-sm-2">結算期間</dt><dd class="col-sm-10">{{settings.dividend_period.value}}</dd>
                            <dt class="col-sm-2">結算日期</dt><dd class="col-sm-10">{{settings.dividend_time.value}}</dd>
                        </dl>
                    </section>

                    <section *ngIf="settings.check('dividend_method', '匯款')">
                        <h3>匯款資訊</h3>
                        <div *ngFor="let party of parties.slice(0, settings.club_population.value)">
                            <h4>{{party.alias}}方：{{party.name}}</h4>
                            <dl class="row">
                                <dt class="col-sm-2">銀行</dt><dd class="col-sm-10">{{party.bank}}</dd>
                                <dt class="col-sm-2">帳號</dt><dd class="col-sm-10">{{party.bankAccount}}</dd>
                            </dl>
                        </div>
                    </section>
                </section>
            </ng-container>
        </section>
    </section>

    <footer class="d-print-none">
        <button class="btn btn-info" onclick="window.print()">列印</button>
        <button class="btn btn-info" (click)="downloadText()">下載純文字</button>
        <button class="btn btn-info" (click)="downloadHTML()">下載網頁</button>
        <button class="btn btn-info" (click)="downloadSettings()">下載設定檔</button>
        <p class="text-muted">如果瀏覽器支援，也許可以「印成 PDF 檔」。</p>
    </footer>
</section>

<!-- Modal -->
<!-- https://getbootstrap.com/docs/4.0/components/modal/ -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <section class="modal-content">
      <header class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </header>
      <div class="modal-body" style="white-space: pre-line" [innerHTML]="modal.content"></div>
      <footer class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
      </footer>
    </section>
  </div>
</div>
