<h2>自訂契約</h2>

<fieldset id="debug">
    <legend onclick="this.parentNode.parentNode.removeChild(this.parentNode);" title="Click to close.">Debug</legend>
    <div>{{display | json}}</div>
    <div>{{settings | json}}</div>
</fieldset>

<ul id="settings">
    <li *ngIf="settings.category.decided"><span (click)="settings.unset('category')">{{settings.category.value}}</span></li>
    <li *ngIf="settings.contributor.decided"><span (click)="settings.unset('contributor')">{{settings.contributor.value=="是"?"有":"無"}}商家出資</span></li>
    <li *ngIf="settings.workType.decided"><span (click)="settings.unset('workType')">{{settings.workType.value}}</span></li>
</ul>

<section *ngIf="display.category">
    <h3>契約類型</h3>
    <fieldset>
        <legend><h4>非出版性委託</h4></legend>
        <app-select [attribute]="'category'" [settings]="settings"
            [options]="optionGroups.nonPublishDelegation"
        ></app-select>
    </fieldset>
    <fieldset>
        <legend><h4>出版性委託</h4></legend>
        <app-select [attribute]="'category'" [settings]="settings"
            [options]="optionGroups.publishDelegation"
        ></app-select>
    </fieldset>
</section>

<section *ngIf="display.contributor">
    <h3>是否有商家出資？</h3>
    <app-select [attribute]="'contributor'" [settings]="settings"
        [options]="optionGroups.contributor"
    ></app-select>
</section>

<section *ngIf="display.delegation">
    <h3>委託資料及委託規格</h3>
    <section *ngIf="display.workType">
        <h4>工作方式</h4>
        <app-select [attribute]="'workType'" [settings]="settings"
            [options]="optionGroups.workType"
        ></app-select>
        <div>
            <button *ngIf="settings.workType.decided" class="btn btn-primary btn-xs" (click)="settings.unset('workType')">選擇其他方式</button>
        </div>
    </section>
</section>