<section id="settings">
    <header>
        <h2>自訂契約</h2>

        <fieldset id="debug">
            <legend onclick="this.parentNode.style.display='none';" title="Click to close.">Debug</legend>
            <div>{{display | json}}</div>
            <div>{{settings | json}}</div>
        </fieldset>

        <ul id="breadcrumb">
            <li *ngIf="settings.category.decided"><span (click)="settings.unset('category')">{{settings.category.value}}</span></li>
            <li *ngIf="settings.contributor.decided"><span (click)="settings.unset('contributor')">{{settings.contributor.value=="是"?"有":"無"}}商家出資</span></li>
            <li *ngIf="settings.workType.decided"><span (click)="settings.unset('workType')">{{settings.workType.value}}</span></li>
            <li *ngIf="settings.copyrightBelonging.decided"><span (click)="settings.unset('copyrightBelonging')">著作財產權{{settings.copyrightBelonging.value.substr(2)}}</span></li>
            <li *ngIf="settings.a_useRange.decided"><span (click)="settings.unset('a_useRange')">繪師{{settings.a_useRange.value}}</span></li>
        </ul>

        <section>
            <div>
                <button class="btn btn-sm btn-info" (click)="load(demoData)">套用測試資料</button>
                <button class="btn btn-sm btn-info" (click)="load(false)">清空目前設定</button>
            </div>
            <div style="margin-top: .5em">
                <button class="btn btn-sm btn-info" (click)="downloadSettings()">下載現在的設定</button>
                <button class="btn btn-sm btn-info" (click)="display.paste=true; display.category=false">貼上之前下載的設定</button>
                <fieldset *ngIf="display.paste">
                    <legend>請貼上之前下載的 settings.json 的內容（可以用「記事本」打開）</legend>
                    <textarea [(ngModel)]="userSettings"></textarea>
                    <div>
                        <button class="btn btn-primary" (click)="loadUserSettings()">讀取</button>
                        <button class="btn btn-warning" (click)="display.paste=false; display.category=true">取消</button>
                    </div>
                    <div *ngIf="loadError">{{loadError}}</div>
                </fieldset>
            </div>
        </section>
    </header>

    <section *ngIf="display.category">
        <h3 (click)="settings.unset('category')">契約類型</h3>
        <fieldset class="col-md-2">
            <legend><h4>非出版性委託</h4></legend>
            <app-select [attribute]="'category'" [settings]="settings"
                [options]="optionGroups.nonPublishDelegation"
            ></app-select>
        </fieldset>
        <fieldset class="col-md-2">
            <legend><h4>出版性委託</h4></legend>
            <app-select [attribute]="'category'" [settings]="settings"
                [options]="optionGroups.publishDelegation"
            ></app-select>
        </fieldset>
    </section>

    <section *ngIf="display.contributor">
        <h3 (click)="settings.unset('contributor')">是否有商家出資？</h3>
        <app-select [attribute]="'contributor'" [settings]="settings"
            [options]="optionGroups.contributor"
        ></app-select>
    </section>

    <app-delegation
        *ngIf="check('isAnthology', false)"
        [settings]="settings"
        [optionGroups]="optionGroups"
        [display]="display"
    ></app-delegation>

    <app-anthology-with-contributor
        *ngIf="display.anthologyWithContributor"
        [settings]="settings"
        [optionGroups]="optionGroups"
        [display]="display"
    ></app-anthology-with-contributor>

    <app-anthology-without-contributor
        *ngIf="display.anthologyWithoutContributor"
        [settings]="settings"
        [optionGroups]="optionGroups"
        [display]="display"
    ></app-anthology-without-contributor>
</section>

<section *ngIf="display.contract">
    <header class="no-print">
        <h2>
            契約內文
            <small>共{{getArticleCount()}}條</small>
        </h2>
        <div>
            <button class="btn btn-info" onclick="window.print()">列印</button>
            <button class="btn btn-info" (click)="downloadText()">下載純文字</button>
            <button class="btn btn-info" (click)="downloadHTML()">下載網頁</button>
            <button class="btn btn-info" (click)="downloadSettings()">下載設定檔</button>
            <p class="text-muted">如果瀏覽器支援，也許可以「印成 PDF 檔」。</p>
        </div>
        <button class="btn btn-warning" (click)="renderArticles();">重整條文</button>
    </header>

    <section id="contract">
        <header>
            <h2 class="text-center">出資聘人完成著作契約</h2>
            <dl>
                <dt>立約人：</dt>
                <dd>甲方：{{settings.a_name.value}}</dd>
                <dd>乙方：{{settings.b_name.value}}</dd>
            </dl>
            <p>緣乙方企畫並出資製作之{{settings.delegation_name.value}}（下稱乙方產品），其部分工作委由甲方承攬製作。甲乙雙方依誠信原則訂立本契約，條款如下：</p>
        </header>

        <section *ngFor="let articleGroup of articleGroups">
            <h3>{{articleGroup.title}}</h3>
            <article *ngFor="let article of articleGroup.articles">
                <h4>
                    {{article.number}}
                    <small *ngIf="article.title">（{{article.title}}）</small>
                </h4>
                <p [innerHTML]="article.output"></p>
            </article>
        </section>

        <section id="personalData">
            <h3>簽約人</h3>

            <section>
                <h4>甲方：</h4>
                <dl class="dl-horizontal">
                    <dt>戶籍地址：</dt><dd>{{settings.a_permanentAddress.value}}</dd>
                    <dt>身分證號：</dt><dd>{{settings.a_id.value}}</dd>
                    <dt>電子郵件：</dt><dd>{{settings.a_email.value}}</dd>
                    <dt>通訊地址：</dt><dd>{{settings.a_correspondenceAddress.value}}</dd>
                    <dt>連絡電話：</dt><dd>{{settings.a_phone.value}}</dd>
                </dl>
            </section>

            <section>
                <h4>乙方：</h4>
                <dl class="dl-horizontal" *ngIf="withContributor()">
                    <dt>登記地址：</dt><dd>{{settings.b_permanentAddress.value}}</dd>
                    <dt>統一編號：</dt><dd>{{settings.b_id.value}}</dd>
                    <dt>代表人：</dt><dd>{{settings.b_chairperson.value}}</dd>
                    <dt>通訊地址：</dt><dd>{{settings.b_correspondenceAddress.value}}</dd>
                    <dt>連絡電話：</dt><dd>{{settings.b_phone.value}}</dd>
                </dl>
                <dl class="dl-horizontal" *ngIf="!withContributor()">
                    <dt>戶籍地址：</dt><dd>{{settings.b_permanentAddress.value}}</dd>
                    <dt>身分證號：</dt><dd>{{settings.b_id.value}}</dd>
                    <dt>電子郵件：</dt><dd>{{settings.b_email.value}}</dd>
                    <dt>通訊地址：</dt><dd>{{settings.b_correspondenceAddress.value}}</dd>
                    <dt>連絡電話：</dt><dd>{{settings.b_phone.value}}</dd>
                </dl>
            </section>

            <footer>
                簽約日期：
                <span class="underline" style="width: 3em">&nbsp;</span>年
                <span class="underline" style="width: 2em">&nbsp;</span>月
                <span class="underline" style="width: 2em">&nbsp;</span>日
            </footer>
        </section>

        <section id="attachments">
            <ng-container *ngIf="check('isAnthology', false)">
                <section>
                    <h2>【附件一】{{settings.delegation_name.value}}工作成果規格書</h2>

                    <h3>一、甲方應完成之工作內容：</h3>
                    <p>{{settings.delegation_content.value}}</p>

                    <h3>二、甲方應交付之工作成果規格與交付方式：</h3>
                    <p>{{settings.delegation_format.value}}</p>

                    <h3>三、乙方得提出之重大修訂類別：</h3>
                    <p>{{settings.seriousityDefinition.value}}</p>
                </section>
            </ng-container>

            <ng-container *ngIf="check('category', '合本') && withContributor()">
                <section>
                    <h2>【附件一】{{settings.delegation_name.value}}工作成果規格書</h2>

                    <h3>一、甲方應完成之工作內容：</h3>
                    <p>{{settings.delegation_content.value}}</p>

                    <h3>二、甲方應交付之工作成果規格與交付方式：</h3>
                    <p>{{settings.delegation_format.value}}</p>
                </section>
                <section>
                    <h2>【附件二】利用約定細項</h2>
                    <p>{{settings.a_useLimit.value}}</p>

                    <h3>分紅機制</h3>
                    <dl class="dl-horizontal">
                        <dt>甲方可得比例</dt>
                        <dd>{{settings.dividend_calculation.value}}％</dd>
                        <dt>分紅時間</dt>
                        <dd>
                            {{settings.dividend_time.value}}起
                            {{settings.dividend_period.value}}
                        </dd>
                        <dt>款項支付方式</dt>
                        <dd>
                            {{settings.dividend_method.value}}
                            <div *ngIf="settings.dividend_method.value=='支票'"
                                class="dl-horizontal"
                            >
                                支票到期期間：{{settings.checkExpirationPeriod.value}}日
                            </div>
                        </dd>
                    </dl>
                </section>
            </ng-container>

            <ng-container *ngIf="check('category', '合本') && !withContributor()">
                <section>
                    <h2>【附件一】工作分配表</h2>
                    <p>請填寫工作規格、數量、完稿繳交期限等。如果有約定工作所生的成本或花費怎麼負擔，就另外標注。</p>
                </section>

                <section>
                    <h2>【附件二】著作財產權持有比例表</h2>
                    <p>請填寫各方持有著作權的比例。最簡單就是各方均分。</p>

                </section>

                <section>
                    <h2>【附件三】代表人及利用約定細項</h2>
                    <p>請填寫首次發行的數量（本子的印數）、方式（場上賣或通販、庫存誰處理）等資訊。還有主揪在公開發表（宣傳）著作時可以做什麼/要做什麼。</p>
                    <p>另外，請填寫利用收益的結算期間（每三個月、每半年或每一年，到本子清完為止）、結算日期（每年幾月幾日結算）、</p>
                    <p>最後是所有人的銀行帳戶～～</p>
                </section>
            </ng-container>
        </section>
    </section>

    <footer>
        <button class="btn btn-info" onclick="window.print()">列印</button>
        <button class="btn btn-info" (click)="downloadText()">下載純文字</button>
        <button class="btn btn-info" (click)="downloadHTML()">下載網頁</button>
        <button class="btn btn-info" (click)="downloadSettings()">下載設定檔</button>
        <p class="text-muted">如果瀏覽器支援，也許可以「印成 PDF 檔」。</p>
    </footer>
</section>
