#debug {
    /*display: none;*/
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    background-color: #ccc;
    font-family: monospace;
    padding: .2em;
}
#debug > legend {
    position: absolute;
    top: 0;
    right: 0;
    width: 5em;
    padding: 0 .2em;
    border: none;
    cursor: pointer;
    text-align: right;
}
#debug > *:not(legend) {
    white-space: pre;
}

#breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#breadcrumb > li {
    display: inline-block;
}

#breadcrumb > li:not(:first-child):before {
    content: "\00BB";
    /* http://www.fileformat.info/info/unicode/char/bb/index.htm */
    padding-right: .2em;
}

#breadcrumb > li > span:only-child {
    cursor: pointer;
}
