<h2>設定圖委託</h2>

<section>
    <h3>選擇工作方式</h3>
    <ul style="list-style-type: none;">
        <li>
            <label>
                <input type="radio">
                先收全額
            </label>
            <ul>
                <li>簽約一開始就要收全額，繪師收到款項之後再動草稿</li>
                <li>契約自收到全部款項後生效</li>
                <li>本選項直接以「完稿」而非「完稿預覽檔案」進行驗收。</li>
            </ul>
        </li>
        <li>
            <label>
                <input type="radio">
                尾款草稿
            </label>
            <ul>
                <li>簽約一開始就要收定金，繪師收到款項之後再動草稿；尾款待草稿確定後再收</li>
                <li>契約自收到全部款項後生效</li>
                <li>本選項直接以「完稿」而非「完稿預覽檔案」進行驗收。</li>
            </ul>
        </li>
        <li>
            <label>
                <input type="radio">
                尾款定稿
            </label>
            <ul>
                <li>簽約一開始就要收定金，繪師收到款項之後再動草稿；尾款待完稿確定後再收</li>
                <li>契約自收到定金後生效</li>
                <li>本選項直接以「完稿預覽檔案」而非「完稿」進行驗收。</li>
            </ul>
        </li>
        <li>
            <label>
                <input type="radio">
                完稿全額
            </label>
            <ul>
                <li>確認完稿後一次收全額</li>
                <li>契約自簽約起生效</li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h3>時程與價額</h3>
    <dl>
        <dt>草稿繳交期限</dt>
        <dd><input type="date"></dd>
        <dt>定稿繳交期限</dt>
        <dd><input type="date"></dd>
        
        <dt>付全額期間</dt>
        <dd><input type="number">日</dd>
        <dt>草稿初次意見期間</dt>
        <dd><input type="number">日</dd>
        <dt>草稿開放小修期間</dt>
        <dd><input type="number">日</dd>
        
        <dt>改稿次數</dt>
        <dd><input type="number">次</dd>
        <dt>草稿小修回應期間</dt>
        <dd><input type="number">日</dd>
        
        <dt>全額報酬數額</dt>
        <dd>新台幣<input type="number">元</dd>
        <dt>違約金數額</dt>
        <dd>新台幣<input type="number">元</dd>
    </dl>    
</section>



<app-hire-of-work></app-hire-of-work>
