<header id="header" class="d-print-none">
    <h1><a routerLink="/">{{ title }}</a></h1>
    <nav aria-label="breadcrumb">
        <ul class="list-inline">
            <li class="list-inline-item"><a routerLink="/home" routerLinkActive="active">首頁</a></li>
            <li class="list-inline-item"><a routerLink="/disclaimer" routerLinkActive="active">自訂契約</a></li>
            <li class="list-inline-item"><a routerLink="/faq" routerLinkActive="active">常見問題</a></li>
        </ul>
    </nav>
</header>
<section id="main" class="container-fluid py-3">
    <router-outlet></router-outlet>
</section>
<footer id="footer" class="d-print-none">
    <div class="float-left small">
        v{{version}}
    </div>
    <ul class="float-right list-inline m-0">
        <li class="list-inline-item"><a target="_blank" href="https://github.com/kong0107/doujin">網站原始碼</a></li>
        <li class="list-inline-item"><a target="_blank" href="https://github.com/kong0107/doujin/issues">問題回報</a></li>
    </ul>
</footer>
