select {
    font-size: large;
    border: 2px solid #aaa;
    border-radius: .3em;
}

input {
    height: 1.5em;
}

input:invalid {
    border: 2px solid red;
}

input[type=number] {
    text-align: right;
}

input[type=number].small {
    width: 4em;
}

input[type=number].large {
    width: 6em;
}

input.address {
    width: 95%;
}

textarea {
    width: 95%;
    min-height: 4em;
}

dl:not([class=dl-horizontal]) > dd {
    margin-left: 2em;
}
