<p class="text-warning">說明：這邊假設是多人組成一社團名義出合本、沒有商家出資。除了約定繳交最後完稿期限，就沒有什麼大修、修正之類的規定了。這份契約在首次出版本子、首次公開發表時，會指定一個主揪（管理人），全權負責相關工作跟分紅，並且只有他能負責、其他人未經他許可不能自己來。</p>

<section>
    <h3>基本資料</h3>
    <dl>
        <dt>合本的名稱</dt>
        <dd><input [(ngModel)]="settings.anthology_title.value" placeholder="合本名稱"></dd>
        <dt>社團名稱（即合本的著作人）</dt>
        <dd><input [(ngModel)]="settings.club_name.value" placeholder="社團名稱"></dd>
        <dt>這次合本有幾名繪師參與？</dt>
        <dd>
            <input [(ngModel)]="settings.club_population.value"
                type="number" class="small" min="3" max="10"
            >人
        </dd>
        <dt>這次合本第一次出本的時間</dt>
        <dd><input [(ngModel)]="settings.firstPubliclyReleasedDate.value" type="date"></dd>
    </dl>

    <h4>所有繪師的資料</h4>
    <section *ngFor="let party of parties.slice(0, settings.club_population.value || 3); let index = index;" class="col-md-6">
        <h5>
            {{partyNames[index]}}方
            <small *ngIf="!index">（代表人）</small>
        </h5>
        <dl class="dl-horizontal">
            <dt>繪師本名</dt><dd><input [(ngModel)]="party.name"></dd>
            <dt>戶籍地址</dt><dd><input [(ngModel)]="party.permanantAddress" class="address"></dd>
            <dt>聯絡電話</dt><dd><input [(ngModel)]="party.telephone" type="tel"></dd>
            <dt>手機號碼</dt><dd><input [(ngModel)]="party.cellphone" type="tel"></dd>
            <dt>電子郵件</dt><dd><input [(ngModel)]="party.email" type="email"></dd>
            <dt>通訊地址</dt><dd><input [(ngModel)]="party.correspondenceAddress" class="address"></dd>
        </dl>
    </section>
</section>

<section>
    <h3>工作分配</h3>
    <dl>
        <dt>工作分配內容</dt>
        <dd>
            <textarea [(ngModel)]="settings.divisionOfLabour.value"
                placeholder="請填寫工作規格、數量、完稿繳交期限等。如果有約定工作所生的成本或花費怎麼負擔，就另外標注。"
            ></textarea>
        </dd>
        <dt>首次發行本子的細節</dt>
        <dd>
            <textarea [(ngModel)]="settings.firstPubliclyReleasedDetail.value"
                placeholder="印數、場上賣或通販、誰處理庫存等資訊"
            ></textarea>
        </dd>
        <dt>主揪在發行、公開發表作品時的工作細節</dt>
        <dd>
            <textarea [(ngModel)]="settings.publishAffairs.value"
                placeholder="印數、場上賣或通販、誰處理庫存等資訊"
            ></textarea>
        </dd>
    </dl>
</section>

<section>
    <h3>著作財產權與分紅</h3>
    <dl>
        <dt>請輸入著作財產權持有比例，同時也是分紅（「利用收益分配」）的比例</dt>
        <dd>
            <textarea [(ngModel)]="settings.proportion2share.value"
                placeholder="例：各方均分"
            ></textarea>
        </dd>
        <dt>分紅的期間</dt>
        <dd>
            <app-select [attribute]="'dividend_period'" [settings]="settings"
                [options]="optionGroups.dividend_period"
                [addResetButton]="true"
            ></app-select>
        </dd>
        <dt>分紅的時間點</dt>
        <dd><input [(ngModel)]="settings.dividend_time.value" type="date"></dd>
        <dt>分紅結算的方式</dt>
        <dd>
            <app-select [attribute]="'dividend_method'" [settings]="settings"
                [options]="optionGroups.dividend_method"
                [addResetButton]="true"
            ></app-select>
            <div *ngIf="settings.check('dividend_method', '支票')">
                <input placeholder="支票到期期間" [(ngModel)]="settings.checkExpirationPeriod.value" type="number">
                日內到期
            </div>
            <section *ngIf="settings.check('dividend_method', '匯款')">
                <div *ngFor="let party of parties.slice(0, settings.club_population.value || 3); let index = index;" class="col-md-6">
                    <h5>{{partyNames[index]}}方：{{party.name}}</h5>
                    <dl class="dl-horizontal">
                        <dt>銀行</dt>
                        <dd><input [(ngModel)]="party.bank"></dd>
                        <dt>帳號</dt>
                        <dd><input [(ngModel)]="party.bankAccount" type="tel"></dd>
                    </dl>
                </div>
            </section>
        </dd>
        <dt>個別繪師向主揪提出財務查核時，主揪要多久以內安排日期時間</dt>
        <dd>
            <input [(ngModel)]="settings.financialCheckPeriod.value"
                type="number" class="small"
            >日內
        </dd>
        <dt>繪師在首次發行多久以後可以非商業公開發表作品</dt>
        <dd>
            <input [(ngModel)]="settings.exclusivityPeriod.value"
                title="專屬發行期" type="number" class="small"
            >月後
        </dd>
    </dl>
</section>

<section>
    <h3>其他</h3>
    <dl>
        <dt>違約金數額上限</dt>
        <dd>
            新台幣
            <input title="違約金數額" [(ngModel)]="settings.penaltyAmount.value"
                type="number" class="large"
            >
            元整
        </dd>
        <dt>如果發生糾紛時第一審管轄法院</dt>
        <dd>
            <select [(ngModel)]="settings.exerciseJurisdiction.value">
                <option *ngFor="let court of optionGroups.exerciseJurisdiction">
                    {{court}}
                </option>
            </select>
        </dd>
    </dl>
</section>

<button class="btn btn-warning" (click)="render.emit(); display.contract = true;">
    我已經輸入完畢，確認以上內容為正確。請直接讓我看契約範本吧！
</button>
