html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#footer {
    background-color: #ccc;
    text-align: right;
    padding: .5rem;
}

label {
    font-weight: bold;
}

.small {
    font-size: small;
}

section:after {
    content: "";
    display: block;
}

.radio-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

@media screen {
    article mark {
        font-weight: bold;
        padding: auto 1em;
        font-size: larger;
        background-color: #000;
        color: #fff;
    }
}

@media print {
    #header, h2, #debug, footer {
        display: none;
    }
}

/**
 * Put footer at the bottom of the page.
 *
 * Divide the whole page into 3 parts: header, main, footer.
 * @see http://cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/
 * @see http://www.chming.tw/blog/2014/09/03/collapsing-margins/
 */
html { height: 100%; }
body {
	min-height: 100%;
	position: relative;
}
#header { overflow: hidden; }
#header:after,
#main:after {
	content: "";
	display: block;
	clear: both;
}
#main:after { padding-bottom: 4em; }
#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
}
