html, body {
    margin: 0;
    padding: 0;
}

#footer {
    background-color: #ccc;
    text-align: right;
    padding: .5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
    padding: 0.5rem 0;
}

h1 { font-size: 200%; }
h2 { font-size: 175%; }
h3 { font-size: 150%; }
h4 { font-size: 140%; }
h5 { font-size: 130%; }
h6 { font-size: 120%; }

button, .button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #666;
    border-radius: .25rem;
    padding: .5rem;
    background-color: #bcd;
}

button:hover, .button:hover {
    text-decoration: underline;
    background-color: #feb;
}

label {
    font-weight: bold;
}

.small {
    font-size: small;
}

section:after {
    content: "";
    display: block;
    clear: both;
}

.radio-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

/**
 * Put footer at the bottom of the page.
 *
 * Divide the whole page into 3 parts: header, main, footer.
 * @see http://cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/
 * @see http://www.chming.tw/blog/2014/09/03/collapsing-margins/
 */
html { height: 100%; }
body {
	min-height: 100%;
	position: relative;
}
#header { overflow: hidden; }
#header:after,
#main:after {
	content: "";
	display: block;
	clear: both;
}
#main:after { padding-bottom: 4em; }
#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
}
